<tr>
  <td><a href="<%= admin_post_path(post) %>" class="pjax"><%= post.title %></a></td>
  <td><%= short_date(post.published_at) %></td>
  <td>
    <span class="label <%= post.active? ? "success" : "default" %>">
      <a href="<%= post_path(post,true) %>" target="x-preview"><%= post.status %></a>
    </span>
  </td>
</tr>